{% extends "base.html.twig" %}

{% block title %}Kortspel - landning{% endblock %}

{% block body %}
<h1>Landningssida för kortspel</h1>

<h3>Länkar för kortsidor</h3>

<ul>
    <li><a href="{{ path('deck') }}">deck</a></li>
    <li><a href="{{ path('deck_shuffle') }}">deck/shuffle</a></li>
    <li><a href="{{ path('deck_draw') }}">deck/draw</a></li>
</ul> 

<h3>Klasser och deras relation</h3>

<img src="{{ asset('img/uml_mvc_kmom02.png') }}" alt="UML-diagram">

<p>Klasserna Card, CardGraphic, CardHand och DeckOfCards används för underliggande logik till kortlekshanteringen. CardGraphic ärver från Card, medan CardHand samt DeckOfCards har en kompositionsrelation med CardGraphic.</p>

<h3>Sessionsvägar</h3>

<ul>
    <li><a href="{{ path('session') }}">session</a></li>
    <li><a href="{{ path('session_delete') }}">session/delete</a></li>
</ul> 

{% endblock %}
