{% extends "base.html.twig" %}

{% block title %}Kortspel - landning{% endblock %}

{% block body %}
<h1>Landningssida för kortspel</h1>

<p>Nedan listas efterfrågade sidor för kmom02</p>

<ul>
    <li><a href="{{ path('deck') }}">deck</a></li>
    <li><a href="{{ path('deck_shuffle') }}">deck/shuffle</a></li>
    <li><a href="{{ path('deck_draw') }}">deck/draw</a></li>
</ul> 

<p>Sessions-vägar</p>

<ul>
    <li><a href="{{ path('session') }}">session</a></li>
    <li><a href="{{ path('session_delete') }}">session/delete</a></li>
</ul> 

{% endblock %}
